/* ------- Colors ------- */
/* Primary Colors */
$key-color: #9FD702;
$key-color2:#046205;
/* Favourite Color Versions */
$key-color-lighter: #ff99a7;
$key-color-darker: #e4203a;

/* Black grey white palettes */
$first-color: #101010;
$first-color-lighter:#101010c4;
$tittle-color-dark:#222326;
$box-color:#c4c4c4;
$menu-icon-bg: #111111;
$tittle-color-light:#FFFFFF;
$text-color: #8a8d84;
$text-color-dark: #333333;
$shadow-icon-menu-color: rgba(255, 255, 255, 0.5);
$body-color: #ebf5fc;
$border-menu-color: #eaeaeb31;
$card-bg-color: #ebf5fc;
$card-bg-color-dark: #5c5c5c;
$card-text-color: rgb(124, 124, 124);
$card-text-hover: rgb(231, 231, 231);
$bg-focus-color: rgb(66, 66, 66);
$card-bg-focus-color: #fff;