/*--------- Google Fonts ---------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/*--------- SASS Styles ---------*/
/* ------- Colors ------- */
/* Primary Colors */
/* Favourite Color Versions */
/* Black grey white palettes */
/*---------Aspectos Generales---------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: #FFFFFF;
  overflow-x: hidden;
}

header {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

/*-------------- navbar --------------*/
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 40px 100px;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar__brand {
  color: #9FD702;
  font-weight: 400;
  font-size: 30px;
  text-decoration: none;
}

.navbar__brand span {
  color: #046205;
  font-weight: 700;
  font-size: 32px;
}

.navbar__brand:hover {
  color: #046205;
}

.navbar__menu {
  position: relative;
}

.navbar__menu ul li {
  display: inline-block;
}

.navbar__menu ul li a {
  position: relative;
  color: #9FD702;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 1.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.navbar__menu ul li a i {
  font-size: 20px;
}

.navbar__menu ul li a::before {
  content: '';
  position: absolute;
  background: #046205;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: -1;
  font-weight: 500;
}

.navbar__menu ul li a:hover::before {
  width: 70%;
  font-weight: 500;
}

/*-------------- Banner --------------*/
.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 0 100px;
}

.banner__content {
  position: relative;
  max-width: 600px;
  z-index: 1000;
}

.banner__content h2 {
  font-size: 48px;
  color: #9FD702;
  text-transform: uppercase;
}

.banner__content p {
  font-size: 18px;
  color: #9FD702;
}

.banner__content a {
  position: relative;
  margin-top: 10px;
  display: inline-block;
  background: #046205;
  color: #9FD702;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 15px 35px;
  text-decoration: none;
  border-radius: 40px;
}

.banner__content a:hover {
  background: #FFFFFF;
}

.banner__imgBx img {
  position: relative;
  max-width: 450px;
  width: 100%;
  margin-top: 50px;
  z-index: 2;
}

.banner__links {
  position: absolute;
  bottom: 40px;
  left: 100px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__links li {
  list-style: none;
}

.banner__links li a {
  display: block;
  color: #9FD702;
  font-size: 25px;
  margin-right: 20px;
}

.banner__links li a:hover {
  color: #FFFFFF;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

/* ------------ Productos ------------ */
.products__tittle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 70px;
}

.products__tittle h3 {
  color: #046205;
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 20px;
}

.products__tittle h3 span {
  color: #9FD702;
  font-size: 37px;
  font-weight: 500;
}

.products__tittle p {
  color: #046205;
  font-size: 18px;
}

.products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

.products__content .prod-contentBx {
  width: 200px;
  margin: 20px;
  border: 15px solid #fff;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.products__content .prod-contentBx .prod-ImgBx {
  position: relative;
  width: 100%;
  height: 150px;
}

.products__content .prod-contentBx .prod-ImgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products__content .prod-contentBx .prod-text {
  padding: 15px 0 5px;
  text-align: center;
}

.products__content .prod-contentBx .prod-text h3 {
  font-size: 20px;
  font-weight: 400;
  color: #046205;
}

.products__content .prod-contentBx .prod-text p {
  font-size: 16px;
  color: #222326;
}

.products__content .prod-contentBx .prod-text button {
  color: #046205;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  border: 2px solid;
  padding: 8px 25px;
  border-radius: 20px;
  margin-top: 5px;
}

.products__content .prod-contentBx .prod-text button:hover {
  background: #9FD702;
  color: #fff;
}

/* ------------ Shopping Cart ------------ */
.shopping-cart__tittle {
  color: #046205;
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 20px;
}

.shopping-cart__tittle span {
  color: #9FD702;
  font-size: 37px;
  font-weight: 500;
}

.image-display {
  display: none;
}

.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}

.car {
  margin: 100px;
  padding: 20px 0;
  border: 1px solid #046205;
}

.car__tittle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.car__tittle h3 {
  color: #046205;
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 20px;
}

.car__tittle h3 span {
  color: #9FD702;
  font-size: 37px;
  font-weight: 500;
}

.car__tittle i {
  color: #9FD702;
  font-size: 37px;
  padding-bottom: 20px;
}

.car__tittle h6 {
  color: #046205;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 20px;
}

.car__tittle .userName {
  color: #222326;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 20px;
}

.car__tittle .shopList {
  color: #222326;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 20px;
}

.car__tittle button {
  color: #046205;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  border: 2px solid;
  padding: 8px 25px;
  border-radius: 20px;
  margin-top: 20px;
}

.car__tittle button:hover {
  background: #9FD702;
  color: #fff;
}

/* ------------ Footer ------------ */
.footer {
  background: #046205;
  height: auto;
  width: 100vw;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.footer__container .footer-brand {
  width: 100%;
  line-height: 1.2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1em;
}

.footer__container .footer-brand p {
  color: #9FD702;
  font-size: 18px;
  font-weight: 400;
}

.footer__container .footer-brand p span {
  font-size: 20px;
  font-weight: 700;
}

.footer__container .footer-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1em;
}

.footer__container .footer-links a {
  color: #9FD702;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0 0.5em;
}

.footer__container .footer-links a:hover {
  color: #FFFFFF;
}
/*# sourceMappingURL=styles.css.map */