/*--------- Google Fonts ---------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/*--------- SASS Styles ---------*/

@import "colors";

/*---------Aspectos Generales---------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: $tittle-color-light;
    overflow-x: hidden;
}

header {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

/*-------------- navbar --------------*/
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;

    &__brand {
        color: $key-color;
        font-weight: 400;
        font-size: 30px;
        text-decoration: none;

        span {
            color: $key-color2;
            font-weight: 700;
            font-size: 32px;
        }

        &:hover {
            color: $key-color2;
        }
    }

    &__menu {
        position: relative;

        ul {
            li {
                display: inline-block;

                a {
                    position: relative;
                    color: $key-color;
                    font-size: 18px;
                    font-weight: 400;
                    text-decoration: none;
                    margin-left: 1.5rem;
                    transition: 0.3s ease;

                    i {
                        font-size: 20px;
                    }
                
                    &::before {
                        content: '';
                        position: absolute;
                        background: $key-color2;
                        width: 0;
                        height: 100%;
                        bottom: 0;
                        left: 0;
                        transition: 0.3s ease;
                        z-index: -1;
                        font-weight: 500;
                    }
    
                    &:hover::before {
                        width: 70%;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

/*-------------- Banner --------------*/
.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0 100px;

    &__content {
        position: relative;
        max-width: 600px;
        z-index: 1000;

        h2 {
            font-size: 48px;
            color: $key-color;
            text-transform: uppercase;
        }

        p {
            font-size: 18px;
            color: $key-color;
        }

        a {
            position: relative;
            margin-top: 10px;
            display: inline-block;
            background: $key-color2;
            color: $key-color;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 2px;
            padding: 15px 35px;
            text-decoration: none;
            border-radius: 40px;

            &:hover {
                background: $tittle-color-light;
            }
        }
    }

    &__imgBx img {
        position: relative;
        max-width: 450px;
        width: 100%;
        margin-top: 50px;
        z-index: 2;
    }

    &__links {
        position: absolute;
        bottom: 40px;
        left: 100px;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;

            a {
                display: block;
                color: $key-color;
                font-size: 25px;
                margin-right: 20px;

                &:hover {
                    color: $tittle-color-light;
                    transition: 0.5s ease;
                }
            }
        }
    }
}

/* ------------ Productos ------------ */
.products {
    &__tittle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 70px;

        h3 {
            color: $key-color2;
            font-size: 35px;
            font-weight: 400;
            padding-bottom: 20px;

            span {
                color: $key-color;
                font-size: 37px;
                font-weight: 500;
            }
        }

        p {
            color: $key-color2;
            font-size: 18px;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 40px;

        .prod-contentBx {
            width: 240px;
            margin: 20px;
            border: 15px solid $card-bg-focus-color;
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);

            .prod-ImgBx {
                position: relative;
                width: 100%;
                height: 200px;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .prod-text {
                padding: 15px 0 5px;

                h3 {
                    font-weight: 400;
                    color: $key-color2;
                }
            }
        }

    }

}

/* ------------ Footer ------------ */
.footer {
    background: $key-color2;
    height: auto;
    width: 100vw;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;

        .footer-brand {
            width: 100%;
            line-height: 1.2;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1em;
            
            p {
                color: $key-color;
                font-size: 18px;
                font-weight: 400;

                span {
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }

        .footer-links {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1em;

            a {
                color: $key-color;
                font-size: 1.5rem;
                text-decoration: none;
                padding: 0 0.5em;

                &:hover {
                    color: $tittle-color-light;
                }
            }
        }
    }
}
